@require 'nib'
@require 'mixins'
@require 'mui_colours'
@require 'colours'
@require 'variables'
@require 'helpers'
@require 'columns'

// css reset
global-reset()

*
	box-sizing border-box

// disable OS X over-scroll
html, body
	width 100%
	height 100%
	overflow hidden

body
	$font-family()
	color $black
	line-height 1.2
	min-height 100%
	font-size 16px

a
	color inherit
	text-decoration none

	&.profile-link:hover
		color $green

strong
	$bold-font()

p
	margin 0 0 1rem

h1
	font-size 2rem
	line-height 2.5rem
	letter-spacing -1px

h1, h2, h3, h4, h5
	font-weight 500
	margin 0 0 1rem

.app
	position absolute
	top 0
	bottom 0
	left 0
	right 0

@require 'button'
@require 'card'
@require 'split_screen'

@require '../components/*'
