@import 'nib'
@import 'mui_colours'
@import 'colours'
@import 'variables'

// css reset
global-reset()

// disable OS X over-scroll
html, body
	width 100%
	height 100%
	overflow hidden

body
	color $black
	font-family -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif
	line-height 1.2

@import 'button'
