.button
	position relative
	display table
	user-select none
	color $black
	font-weight 600
	text-decoration none
	cursor pointer
	border none
	border-radius $borderRadius
	text-shadow 0 1px 1px rgba(0, 0, 0, 0.1)
	text-align center
	white-space nowrap
	padding 14px 30px 13px
	font-size 18px

	&:hover
	&:focus
		box-shadow inset 0 -2px rgba(0, 0, 0, 0.25)

	&:active
		box-shadow inset 0 2px 1px rgba(0, 0, 0, 0.2) !important

	&.small
		padding 8px 14px 9px
		font-size 15px

	&.disabled
		color $white
		background-color $grey
		opacity 0.35
		pointer-events none

	&.green
		color $white
		background-color $green

	&.outline
		background-color $greyLighter
		text-shadow none
		border 1px solid $greyLight

		&:hover
		&:focus
			background-color $white
			box-shadow none
