$make-size-helpers($prop, $side)
	.small-{$prop}-{$side}
		{$prop}-{$side} 0.5rem !important

	.{$prop}-{$side}
		{$prop}-{$side} 1rem !important

	.large-{$prop}-{$side}
		{$prop}-{$side} 2rem !important

	.huge-{$prop}-{$side}
		{$prop}-{$side} 4rem !important

$make-margin($side)
	$make-size-helpers(margin, $side)

$make-padding($side)
	$make-size-helpers(padding, $side)



.page-container
	$flex-expand()
	height 100%
	overflow auto

.max-container
	margin 0 auto
	padding 8rem 2rem

	@media only	screen and (max-height 768px)
		padding 6rem 2rem

	@media only screen and (min-width 1024px)
		width 1024px

.flex-display
	display flex

.flex-expand
	$flex-expand()

.align-center
	text-align center

.bg-grey
	background-color $greyBackgroundColour

.description
	font-size 1.25rem
	color $grey
	margin-bottom 2rem

.empty-state
	$bold-font()
	color $grey
	font-size 24px
	text-align center
	max-width 20rem
	margin 2rem auto 0
	cursor default

	i
		display block
		margin 0 auto
		font-size 108px



// MARGINS
$make-margin(top)
$make-margin(right)
$make-margin(bottom)
$make-margin(left)

.margin-auto
	margin-left auto !important
	margin-right auto !important

// PADDING
$make-padding(top)
$make-padding(right)
$make-padding(bottom)
$make-padding(left)
