.input-group
	margin-bottom 1rem

	&:last-of-type
		margin-bottom 0

	label
		$bold-font()
		display block
		margin-bottom 0.5rem
		font-size 1rem

.input
	height auto
	width 100%
	max-width 100%
	margin 0 0 0.5rem
	padding 0.75rem
	color $black
	border 1px solid $greyLight
	border-radius $borderRadius
	font-size 20px
	appearance none
	outline 0
	transition box-shadow 70ms ease-out, border-color 70ms ease-out
	box-shadow none

	&:active
	&:focus
		border-color $green
		box-shadow 0 0 7px rgba(39, 128, 248, 0.15)
