.group-info
	padding 2rem

	.info
		text-align center

		img
			display block
			margin 0 auto 2rem
			width 150px
			height @width
			border-radius $borderRadius

		.members
			color $grey
			font-size 14px

	form
		margin-top 3rem
		padding-top 1rem
		border-top 1px solid $cardBorderColour
