.create-thread
	padding 2rem

.threads-page
	padding 2rem

.thread-list
	.thread-item
		clear both
		padding 1rem 0
		border-top 1px solid $cardBorderColour

		&:first-child
			padding-top 0
			border-top none

		&:last-child
			padding-bottom 0

		img
			width 35px
			height @width
			margin-right 1rem
			border-radius $borderRadius
			float left

		.info
			overflow hidden
			min-height 35px

		.details
			color $grey
			font-size 12px
			cursor default
