.create-thread
	padding 2rem

	.editor
		height 15rem

.threads-page
	padding 2rem

.thread-list
	.thread-item
		clear both
		padding 1rem 0
		border-top 1px solid $cardBorderColour

		&:first-child
			padding-top 0
			border-top none

		&:last-child
			padding-bottom 0

		img
			width 35px
			height @width
			margin-right 1rem
			border-radius $borderRadius
			float left

			& + .info
				min-height @height

		.info
			overflow hidden

		.details
			color $grey
			font-size 12px
			cursor default

.thread-page
	// position relative
	// padding 2rem
	height 100%
	display flex
	flex-direction column
	justify-content space-between

	.thread-content
		$flex-expand()
		padding 2rem
		overflow auto

	.thread-post
		clear both
		padding 1rem 0
		border-top 1px solid $cardBorderColour

		&:last-child
			border-bottom 1px solid $cardBorderColour

		img
			width 35px
			height @width
			margin-right 1rem
			border-radius $borderRadius
			float left

			& + .post-container
				min-height @height

		.post-container
			overflow hidden

		.profile-link
			$bold-font()

		.stats
			color $grey
			font-size 12px
			cursor default
			vertical-align text-bottom
			margin-left 0.35rem

		.content
			margin-top 0.5rem
			white-space pre-wrap
			font-weight 300

.thread-editor
	display flex
	flex-direction column
	flex-shrink 0
	// position fixed
	// bottom 0
	// left 0
	// right 0
	overflow hidden
	height 300px
	background-color $grey200
	transition height 400ms ease

	&.hidden
		height 0

	.editor
		display flex
		$flex-expand()
		flex-direction column
		margin 2rem 2rem 0
		height auto

		textarea
			$flex-expand()

	.button-group
		margin-left 2rem
		margin-right 2rem
		margin-bottom 1rem
